<div class="container">
	<% @users.each_slice(3) do |slice| %>
  <div class="gallery">
    <% slice.each do |image| %>
    <%= link_to profile_img(image), user_path(image),:class => "card-img-top", :alt => "Card image cap" %>
    <% end %>
  </div>
	<% end %>
</div>
