<div class="navbar-wrapper">
	    <div id="home" class="header">
	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        	<div class="carousel-inner">
	          <div class="item active">
			    	<div class="container">
              <% str = "slide" %>
              <% num = 1 %>
              <% sum = str + num.to_s%>
            <!-- ここから -->
            <!--<% @users.each_slice(3) do |slice| %>-->
            <% @users.each_slice(3).with_index do |slice, i| %>
                <h1><%= i + 1 %></h1>
              <% slice.each do |user| %>
              <!--<div id="slide1" class="masonry">-->
              <div id="<%= sum %>" class="masonry">
						    <div class="post-box col-lg-4 col-md-4 col-sm-4">
						    	<!--<img class="img-responsive img-thumbnail" src="http://i.imgur.com/ylMPudK.gif">-->
                  <h1>あああ</h1>
						    </div>
						</div>
            <% end %>
            <% end %>
            <% end %>
            <!-- ここまで -->
					</div>
				</div>

        <!--
				<div class="item">
					<div class="container">
						<div id="slide2" class="masonry">
						    <div class="post-box2 col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://s3.amazonaws.com/s3.babblin.gs/posts/images/000/000/241/large/OoRsR42.gif">
						    </div>
						    <div class="post-box2 col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://i.imgur.com/FaIH0Zz.jpg">
						    </div>
						    <div class="post-box2 col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://i.imgur.com/3CjBFlN.jpg">
						    </div>
						</div>
					</div>
				</div>
        -->
        <!--
				<div class="item">
					<div class="container">
						<div id="slide3" class="masonry">
						    <div class="post-box3 col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://i.imgur.com/A829mb4.jpg">
						    </div>
						    <div class="post-box3 col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://tiaurus.info/wp-content/uploads/2012/08/yarkoe-i-sochnoe-gipperrealistichnoe-iskusstvo-dennis-wojtkiewicz-3.jpg?76b437">
						    </div>
						    <div class="post-box3 col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://i.imgur.com/vsHUzpH.jpg">
						    </div>
						</div>
					</div>
				</div>
      -->

			</div>
		</div>
		</div>
