<div class="navbar-wrapper">
	    <div id="home" class="header">
	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        	<div class="carousel-inner">
	          <div class="item active">
			    	<div class="container">
						<div id="slide1" class="masonry">
						    <div class="post-box col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://i.imgur.com/ylMPudK.gif">
						    </div>
						    <div class="post-box col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://i.imgur.com/kToRhVC.jpg">
						    </div>
						    <div class="post-box col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://4.bp.blogspot.com/-xt6GuKpm6fI/Ul65xMBi5CI/AAAAAAAAEK4/cmmpD4OQsec/s1600/windmill_amsterdam_hermit_crab_shell.jpg">
						    </div>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="container">
						<div id="slide2" class="masonry">
						    <div class="post-box2 col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://s3.amazonaws.com/s3.babblin.gs/posts/images/000/000/241/large/OoRsR42.gif">
						    </div>
						    <div class="post-box2 col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://i.imgur.com/FaIH0Zz.jpg">
						    </div>
						    <div class="post-box2 col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://i.imgur.com/3CjBFlN.jpg">
						    </div>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="container">
						<div id="slide3" class="masonry">
						    <div class="post-box3 col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://i.imgur.com/A829mb4.jpg">
						    </div>
						    <div class="post-box3 col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://tiaurus.info/wp-content/uploads/2012/08/yarkoe-i-sochnoe-gipperrealistichnoe-iskusstvo-dennis-wojtkiewicz-3.jpg?76b437">
						    </div>
						    <div class="post-box3 col-lg-4 col-md-4 col-sm-4">
						    	<img class="img-responsive img-thumbnail" src="http://i.imgur.com/vsHUzpH.jpg">
						    </div>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>
